<!DOCTYPE html>
<html>
<head>
    <title>Registrar avance</title>
</head>
<body>
    <h1>Formulario de avance de taller</h1>
    <form method="POST">
        <label>Referencia:</label><br>
        <input type="text" name="referencia"><br><br>

        <label>Taller:</label><br>
        <input type="text" name="taller"><br><br>

        <label>Cantidad entregada:</label><br>
        <input type="number" name="cantidad"><br><br>

        <input type="submit" value="Guardar">
    </form>
</body>
</html>